<!--
  Footer Partial
  --------------
  Displays:
    • Dynamic copyright year
    • Privacy, terms, and support links
  Used across all pages as a shared layout component.
-->

<footer class="site-footer" style="width: 100%; margin-top: auto;">
    <p>&copy; <%= new Date().getFullYear() %> Food Bank Tracker</p>

    <div class="footer-links">

    </div>
</footer>