<!--
  Inventory Table Row Out Of Stock
  ---------------------------
  Renders:
    • Item name
    • Storage location
  Used inside inventory list tables.
  @author YenYi Huang
-->

<tr>
    <th scope="row">
        <%= item.name %>
    </th>
    <td>
        <%= item.storageLocation %>
    </td>
</tr>