# Node
node_modules/

# Environment variables (NEVER COMMIT .env OR ANYTHING RELATED TO IT)
.env
postman/environments/
postman/globals/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.postman/