<!DOCTYPE html>
<html>
<head>
  <title>Food Bank Tracker</title>
</head>
<body>
  <h1>Food Bank Tracker</h1>
  <p>Server is running.</p>
  <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
</body>
</html>