<!DOCTYPE html>
<html>

<head>
  <title>Logged Out</title>
</head>

<body>
  <header id="navbar-container">
    <%- include('partials/navbar') %>
  </header>

  <h1>You've been logged out</h1>
  <a href="/">Back to home</a>
  <a href="/login">Login again</a>
  <footer class="footer">
    <div id="footer-container">
      <%- include('partials/footer') %>
    </div>
  </footer>

</body>

</html>