<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/loggingin" method="POST">
    <input name="username" placeholder="Username" required>
    <input name="password" type="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  <p><a href="/signup">Need an account? Sign up</a></p>
  <p><a href="/">Back to home</a></p>
</body>
</html>