<!DOCTYPE html>
<html>
<head>
  <title>Account Created</title>
</head>
<body>
  <h1>Account Created Successfully</h1>
  <p>Your account has been created.</p>
  <a href="/login">Go to login</a>
</body>
</html>