<!DOCTYPE html>
<html>

<head>
  <title>Volunteer Dashboard</title>
</head>

<body>
  <header id="navbar-container">
    <%- include('partials/navbar') %>
  </header>
  <h1>Welcome, <%= username %>
  </h1>
  <p>Volunteer Dashboard — placeholder</p>
  <a href="/logout">Logout</a>
  <footer class="footer">
    <div id="footer-container">
      <%- include('partials/footer') %>
    </div>
  </footer>

</body>

</html>